body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* prilagodil sem sirino celotnemu zaslonu*/
#vsebina {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* spremenjena barva */
#kanal {
  background-color: #FFFF99;
  margin-bottom: 1em;
}
  /* sirina okna sporocil*/
#sporocila {
  width: 85%;
  height: 300px;
  overflow: auto;
  background-color: #FFFFCC;
  margin-bottom: 1em;
  margin-right: 10px;
}
/* sirina okna seznama kanalov */
#seznam-kanalov {
  float: right;
  width: 15%;
  height: 300px;
  overflow: auto;
}
#seznam-kanalov div {
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

#seznam-kanalov div:hover {
  background-color: #ddd;
}

#poslji-sporocilo {
  width: 700px;
  margin-bottom: 1em;
  margin-right: 1em;
}

#pomoc {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}